<md-grid-list *ngIf="step" [cols]="step.options.length" rowHeight="120px">
  <svg #linesSvg height="240" width="100%" (window:resize)="drawLines()">
    <polyline *ngFor="let line of lines" [attr.points]="line"
              style="fill:transparent;stroke:lightgrey;stroke-width:2" />
  </svg>
  <md-grid-tile [colspan]="step.options.length" rowspan="1">
    <md-card>
      {{step.title}}
    </md-card>
  </md-grid-tile>
  <md-grid-tile *ngFor="let option of step.options" rowspan="1">
    <button md-raised-button color="primary" (click)="nextStep(option.stepId)">{{option.title}}</button>
  </md-grid-tile>
</md-grid-list>
